* {
    font-family: 'Open Sans', sans-serif;

}
.header{
    background: rgb(248, 229, 206);
    background-image: url('../header_bg.png') , url(../developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;

}
#text1{
    margin-left: 90px;
}

#website-tittle{
    font-weight: 600px;
    font-size: 45px;

}
#website-small-tittle{
    font-size: 40px;
    margin-bottom: ;
}
.banner-description{
    color: rgb(77, 4, 4);
    font-size: 18px;
    margin-bottom: 30px;
    
}
.button {
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 18px 25px;
    height: 60px;
    border-radius: 5px;
    background: rgb(205, 95, 36);
}
#down-bouttons{

}
.button2{
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 18px 25px;
    height: 60px;
    border-radius: 5px;
    background: rgb(205, 95, 36);
}

/* header and nav style */
.nav-tittle {
    font-weight: 800px;
    font-size: 45px;

}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
}
/* banner style */

.banner{
    margin: 0px 200px 0 100px;
    display: flex;
}
/* main section*/
main{
    max-width: 1140px;
    margin: 0 auto ;
}
/* about section style */
.about{
    margin-top: 130px;
    background: #fcdac1;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: ;
     
}
.section-tittle{
    color: #1a120d;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;


}
.section-discription{
    color: darkslategrey;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-tittle{
    font-size: 20px;
    color: darkgrey;

}
.info-discription{
    font-weight: 700;
    font-size: 20px;
    color: rgb(29, 29, 29);
}
